<accordion close-others="true">
  <accordion-group heading="{{server.title}}" ng-repeat="server in servers">
    <h2>General info</h2>
    <p>Url: <a href="{{ server.url }}">{{ server.url }}</a></p>
    <p>Title: {{ server.capabilities.serviceIdentification.title }}</p>
    <p>Abstract: {{ server.capabilities.serviceIdentification.abstract }}</p>
    <h2>Provider info</h2>
    <p>Organization: {{ server.capabilities.serviceProvider.providerName }}</p>
    <p>Contact: {{ server.capabilities.serviceProvider.serviceContact.individualName }} {{ server.capabilities.serviceProvider.serviceContact.electronicMailAddress }}</p>
    <h2>Processes</h2>
    <ul ng-repeat="offering in server.capabilities.processOfferings" class="list-group">
      <li class="list-group-item"><a href="#/form/{{ server.id }}/{{ offering.identifier }}">{{ offering.title || offering.identifier }}</a></li>
    </ul>
  </accordion-group>
</accordion>
